<!--
Copyright (c) Igor Sysoev.
Copyright (c) Nginx, Inc.

SPDX-License-Identifier: BSD-2-Clause
Documentation licensed under the BSD 2-Clause License.
The original work was translated from English into Brazilian Portuguese.
https://github.com/docsdevbr/nginx-docs-pt-br/blob/-/LICENSES/BSD-2-Clause.txt

source_url: https://github.com/nginx/nginx.org/blob/main/xml/en/docs/events.xml
revision: 01a366b5881410dfac78050536fe42a52eae9fff
status: ready
-->

<!DOCTYPE article SYSTEM "../../../dtd/article.dtd">

<article name="Métodos de processamento de conexão"
         link="/pt-br/docs/events.html"
         lang="pt-br"
         rev="6">

<section>

<para>
  O NGINX suporta uma variedade de métodos de processamento de conexões.
  A disponibilidade de um método específico depende da plataforma utilizada.
  Em plataformas que suportam vários métodos, o NGINX normalmente selecionará o
  método mais eficiente automaticamente.
  No entanto, se necessário, um método de processamento de conexão pode ser
  selecionado explicitamente com a diretiva
  <link doc="ngx_core_module.xml" id="use"/>.
</para>

<para>
  Os seguintes métodos de processamento de conexão são suportados:
  <list type="bullet">

  <listitem id="select">
  <para>
    <literal>select</literal> &mdash; método padrão.
    O módulo de suporte é compilado automaticamente em plataformas que não
    possuem métodos mais eficientes.
    Os parâmetros de configuração <literal>--with-select_module</literal> e
    <literal>--without-select_module</literal> podem ser usados para habilitar
    ou desabilitar a compilação deste módulo.
  </para>
  </listitem>

  <listitem id="poll">
  <para>
    <literal>poll</literal> &mdash; método padrão.
    O módulo de suporte é compilado automaticamente em plataformas que não
    possuem métodos mais eficientes.
    Os parâmetros de configuração <literal>--with-poll_module</literal> e
    <literal>--without-poll_module</literal> podem ser usados para habilitar ou
    desabilitar a compilação deste módulo.
  </para>
  </listitem>

  <listitem id="kqueue">
  <para>
    <literal>kqueue</literal> &mdash; método eficiente usado no FreeBSD 4.1+,
    OpenBSD 2.9+, NetBSD 2.0 e macOS.
  </para>
  </listitem>

  <listitem id="epoll">
  <para>
    <literal>epoll</literal> &mdash; método eficiente usado no Linux 2.6+.
    <note>
      Os parâmetros <literal>EPOLLRDHUP</literal> (Linux 2.6.17, glibc 2.8) e
      <literal>EPOLLEXCLUSIVE</literal> (Linux 4.5, glibc 2.24) são suportados
      desde a versão 1.11.3.
    </note>
    <note>
      Algumas distribuições mais antigas, como o SuSE 8.2, fornecem patches que
      adicionam suporte ao epoll em kernels 2.4.
    </note>
  </para>
  </listitem>

  <listitem id="devpoll">
  <para>
    <literal>/dev/poll</literal> &mdash; método eficiente usado no Solaris 7
    11/99+, HP/UX 11.22+ (eventport), IRIX 6.5.15+ e Tru64 UNIX 5.1A+.
  </para>
  </listitem>

  <listitem id="eventport">
  <para>
    <literal>eventport</literal> &mdash; event ports, método usado no Solaris
    10+ (devido a problemas conhecidos, é recomendado usar o método
    <literal>/dev/poll</literal> em vez disso).
  </para>
  </listitem>

  </list>
</para>

</section>

</article>
